/* cards with equal height and width */

.card-row > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

/* no borders */

.no-border {
    border: none;
}

/* remove default widget style */

.widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
}