/* Input fields width to 100% on cart and checkout page */
.woocommerce .woocommerce-input-wrapper {
    display: block;
    width: 100%;
}

/* Product Title on shop page */
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.1em;
}

/* Product Category on shop page */
.woocommerce ul.products li.product a.custom-woo-product-category {
    color: #e8b280;
}

/* Product Price on shop page */
.woocommerce ul.products li.product .price {
    color: #000;
    font-size: .950em;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Product Star Rating on shop page */
.woocommerce ul.products li.product .star-rating {
    color: #f18704;
}

/* Container of each Product on shop page */
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    border: 1px solid #eee;
}

/* Contents of each Product on shop page */
.woocommerce ul.products li.product > *:not(.woocommerce-LoopProduct-link) {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/* Product Container on shop page */
.woocommerce ul.products,
.woocommerce-page ul.products {
    /* to have equal height regardless of its content */
    display: flex;
    flex-wrap: wrap;
}

/* Product Summary on shop page */
.custom-woo-product-summary {
    /* to make contents centered */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Product Title Link on shop page */
.woocommerce ul.products li.product .custom-woo-product-summary .woocommerce-LoopProduct-link {
    color: #000;
}

/* Product Sale Label on shop page */
.woocommerce span.onsale {
    min-height: 3em;
    min-width: 3em;
    line-height: 3em;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    background-color: #cc4242;
}

/* Pagination on shop page */
.woocommerce nav.woocommerce-pagination ul {
    border: 0;
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li {
    margin: 0 5px 5px 0;
    border: 1px solid #cc4242;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
    padding: .75em;
    min-width: 2.5em;
    color: #cc4242;
    transition: all 0.3s;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #cc4242;
    color: #f9f9f9;
}

/* Sidebar Widgets */
.woocommerce ul.woocommerce-sidebar {
    padding: 0 0 0 15px;
}
.woocommerce ul.woocommerce-sidebar li.widget {
    margin-bottom: 2.5em;
}
.woocommerce ul.woocommerce-sidebar li.widget h3.widget-title {
    margin-bottom: 1rem;
}

/* Sidebar Search Widget */
.woocommerce ul.woocommerce-sidebar li.widget form.woocommerce-product-search {
    display: flex;
}
.woocommerce ul.woocommerce-sidebar li.widget form.woocommerce-product-search input[type=search].search-field {
    background-color: #fff;
    border: 1px solid #bdbcbc;
    border-right: none;
    width: 100%;
    padding: 10px 8px 10px 8px;
}
.woocommerce ul.woocommerce-sidebar li.widget form.woocommerce-product-search input[type=search].search-field:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #000;
}
.woocommerce ul.woocommerce-sidebar li.widget form.woocommerce-product-search button[type=submit] {
    background-color: #cecdcd;
    border: 1px solid #bdbcbc;
    padding: 10px 15px 10px 15px;
}
.woocommerce ul.woocommerce-sidebar li.widget form.woocommerce-product-search button[type=submit]:hover {
    background-color: #bdbcbc;
}
.woocommerce ul.woocommerce-sidebar li.widget_product_search {
    margin-top: .8em;
}
.woocommerce ul.woocommerce-sidebar li.widget_product_search h3.widget-title {
    display: none;
}

/* Sidebar Product Category Widget */
.woocommerce ul.woocommerce-sidebar li.widget ul.product-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.woocommerce ul.woocommerce-sidebar li.widget ul.product-categories li.cat-item {
    margin-bottom: .25em;
    padding: 2px 0;
}
.woocommerce ul.woocommerce-sidebar li.widget ul.product-categories li.cat-item > a {
    color: #c45d5d;
    font-weight: 400;
}
.woocommerce ul.woocommerce-sidebar li.widget ul.product-categories li.cat-item > a:hover {
    color: #cc1818;
    text-decoration: none;
}
.woocommerce ul.woocommerce-sidebar li.widget ul.product-categories li.cat-item span.count {
    float: right;
}


/* media queries */

@media (max-width: 991px) and (min-width: 769px) {

    /* Sidebar Widgets */
    .woocommerce ul.woocommerce-sidebar {
        padding: 0;
    }

}

@media (max-width: 768px) and (min-width: 576px) {

    /* Product Column Class on shop page */
    .woocommerce ul.products[class*=columns-] li.product, 
    .woocommerce-page ul.products[class*=columns-] li.product {
        /* to have a 3 column layout on landscape smartphones */
        /* change the width percentage if you're going to change the column layout */
        width: 30.75%;
        float: none;
        clear: none;
    }
    /* This is the standard way of modifying the grid layout based on astra themes */
    .woocommerce ul.products[class*=columns-] li.product:nth-child(n), 
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(n) {
        /* select every element */
        /* 
           allowed floating elements on both sides but 
           you can actually remove the clear property 
           because this is just an indicator since 
           we have flex property on the container so 
           it doesn't have any effect.
        */
        margin-right: 19.7px;
        clear: none;
    }
    .woocommerce ul.products[class*=columns-] li.product:nth-child(3n+1), 
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(3n+1) {
        /* select every 3rd element starting from the 1st element, this also selects the 1st element itself */
        /*
           doesn't allow floating elements on left side but
           you can actually remove the clear property or this 
           css because this is just an indicator since
           we have flex property on the container so it doesn't
           have any effect.
        */
        clear: left;
    }
    .woocommerce ul.products[class*=columns-] li.product:nth-child(3n), 
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(3n) {
        /* select every 3rd element */
        /*
           doesn't allow floating elements on right side but
           you can actually remove the clear property 
           because this is just an indicator since
           we have flex property on the container so 
           it doesn't have any effect.
        */
        margin-right: 0;
        clear: right;
    }

    /* Sidebar Widgets */
    .woocommerce ul.woocommerce-sidebar {
        padding: 0;
    }
    
}

@media (max-width: 575px) {

    /* Product Container on shop page */
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        /* to make it one column on mobile portrait */
        /* flex-wrap: nowrap;
        flex-direction: column; 
        justify-content: center ; */
    }

    /* Product Column Class on shop page */
    .woocommerce ul.products[class*=columns-] li.product, 
    .woocommerce-page ul.products[class*=columns-] li.product {
        /* to make it one column on mobile portrait */
        /* width: 100%; */
    }

    /* Product Column Class on shop page */
    .woocommerce ul.products[class*=columns-] li.product:nth-child(2n+1), 
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n+1) {
        /* 2 column layout on portrait smartphones */
        /* select every 2nd element starting from the 1st element, this also selects the 1st element itself */
        /* you can actually do the same method as we did for the landscape or you can just set a fix margin for this one */
        margin-right: auto;
    }

    /* Sidebar Widgets */
    .woocommerce ul.woocommerce-sidebar {
        padding: 0;
    }

}